<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realtime Polling App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/create-poll.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Poll Maker</h1>
    </header>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1>Make Realtime Polls</h1>
            <p>Make Realtime Polls in Seconds for free.</p>
            <a href="/create-poll"><button class="btn btn-success">Get Started</button></a>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid text-center" id="footer">
        <div class="container">
            <div class="developer-note">
                <p>Developed by <span id="myName">Shrinath Bhosale</span></p>
                <p>*** For Non Commercial and Educational Purposes Only ***</p>
                <p>Contact - <a href="mailto:developer.shrinath@gmail.com">developer.shrinath@gmail.com</a></p>
                <p>GitHub Repository - <a href="https://github.com/ShrinathRaje/realtime-polling-app">Realtime-Polling-App</a></p>
            </div>
    
            <ul class="social">
                <li><a href="https://www.quora.com/profile/Shrinath-Bhosale" target="_blank"><i class="fa fa fa-quora"></i></a></li>
                <li><a href="https://github.com/ShrinathRaje" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/shrinath-bhosale/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="http://shrinathbhosale.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>